In [1]:
import pandas as pd
from sqlalchemy import Column, Integer, String, Date, Boolean
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import ForeignKey
from sqlalchemy.orm import sessionmaker

In [2]:
dataset_no = (len("Bartosz") + len("Jasko"))% 6
print(dataset_no)

0

In [3]:
data = pd.read_csv("houses_to_rent.csv")
data.rename(columns={'Unnamed: 0':'id'}, inplace=True)

print(data.columns)
data.head()

Index(['id', 'city', 'area', 'rooms', 'bathroom', 'parking spaces', 'floor',
       'animal', 'furniture', 'hoa', 'rent amount', 'property tax',
       'fire insurance', 'total'],
      dtype='object')

,id,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [4]:
Base = declarative_base()

In [5]:
class House(Base):
    __tablename__ = 'house'
    id = Column(Integer, primary_key=True)
    id_cost = Column(Integer, ForeignKey("cost.id"))
    id_accommodation = Column(Integer, ForeignKey("accommodation.id"))
    id_extra = Column(Integer, ForeignKey("extra.id"))

    def __repr__(self):
        return "<houses(id='{0}', id_costs={1}, id_places={2}, id_parameters={3})>".format(
            self.id, self.id_costs, self.id_places, self.id_parameters)

class Cost(Base):
    __tablename__ = 'cost'
    id = Column(Integer, primary_key=True)
    hoa = Column(String(50))
    rent_amount = Column(String(50))
    property_tax = Column(String(50))
    fire_insurance = Column(String(50))
    total = Column(String(50))

    def __repr__(self):
        return "<costs(id='{0}', hoa={1}, rent_amount={2}, property_tax={3}, fire_insurance={4}, total={5})>".format(
            self.id, self.hoa, self.rent_amount, self.property_tax, self.fire_insurance, self.total)


class Accommodation(Base):
    __tablename__ = 'accommodation'
    id = Column(Integer, primary_key=True)
    area = Column(Integer)
    rooms = Column(Integer)
    bathroom = Column(Integer)
    floor = Column(Integer)

    def __repr__(self):
        return "<places(id='{0}', area={1}, rooms={2}, bathroom={3}, floor={4})>".format(
            self.id, self.area, self.rooms, self.bathroom, self.floor)


class Extra(Base):
    __tablename__ = 'extra'
    id = Column(Integer, primary_key=True)
    city = Column(Boolean)
    parking_spaces = Column(Integer)
    animal = Column(String(50))
    furniture = Column(String(50))

    def __repr__(self):
        return "<parameters(id='{0}', city={1}, parking_spaces={2}, animal={3}, furniture={4})>".format(
            self.id, self.city, self.parking_spaces, self.animal, self.furniture)