In [1]:
# ex1
from sqlalchemy import create_engine, MetaData, Table, select
db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"
db = create_engine(db_string)

In [2]:
print(db.table_names())

['staff', 'category', 'film_category', 'country', 'actor', 'language', 'store', 'rental', 'city', 'address', 'film_actor', 'payment', 'users', 'film', 'customer', 'inventory']

In [3]:
# ex2
metadata = MetaData()
staff = Table("staff", metadata, autoload=True, autoload_with=db)
country = Table("country", metadata, autoload=True, autoload_with=db)

In [4]:
print(repr(staff))

Table('staff', MetaData(bind=None), Column('staff_id', INTEGER(), table=<staff>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000002813CF7A708>, for_update=False)), Column('first_name', VARCHAR(length=45), table=<staff>, nullable=False), Column('last_name', VARCHAR(length=45), table=<staff>, nullable=False), Column('address_id', SMALLINT(), ForeignKey('address.address_id'), table=<staff>, nullable=False), Column('email', VARCHAR(length=50), table=<staff>), Column('store_id', SMALLINT(), table=<staff>, nullable=False), Column('active', BOOLEAN(), table=<staff>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000002813CF8DF88>, for_update=False)), Column('username', VARCHAR(length=16), table=<staff>, nullable=False), Column('password', VARCHAR(length=40), table=<staff>), Column('last_update', TIMESTAMP(), table=<staff>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000002813CA1E748>, for_update=False)), Column('picture', BYTEA(), table=<staff>), schema=None)

In [5]:
print(repr(country))

Table('country', MetaData(bind=None), Column('country_id', INTEGER(), table=<country>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000002813CFCF348>, for_update=False)), Column('country', VARCHAR(length=50), table=<country>, nullable=False), Column('last_update', TIMESTAMP(), table=<country>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000002813CFCF148>, for_update=False)), schema=None)

In [6]:
actor = Table("actor", metadata, autoload=True, autoload_with=db)
language = Table("language", metadata, autoload=True, autoload_with=db)
film = Table("film", metadata, autoload=True, autoload_with=db)

In [7]:
print(repr(actor))

Table('actor', MetaData(bind=None), Column('actor_id', INTEGER(), table=<actor>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000002813CFC2408>, for_update=False)), Column('first_name', VARCHAR(length=45), table=<actor>, nullable=False), Column('last_name', VARCHAR(length=45), table=<actor>, nullable=False), Column('last_update', TIMESTAMP(), table=<actor>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000002813CFEA188>, for_update=False)), schema=None)

In [8]:
print(repr(language))

Table('language', MetaData(bind=None), Column('language_id', INTEGER(), table=<language>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000002813C9606C8>, for_update=False)), Column('name', CHAR(length=20), table=<language>, nullable=False), Column('last_update', TIMESTAMP(), table=<language>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000002813CFCFF08>, for_update=False)), schema=None)

In [9]:
print(repr(film))

Table('film', MetaData(bind=None), Column('film_id', INTEGER(), table=<film>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000002813CFDB848>, for_update=False)), Column('title', VARCHAR(length=255), table=<film>, nullable=False), Column('description', TEXT(), table=<film>), Column('release_year', INTEGER(), table=<film>), Column('language_id', SMALLINT(), ForeignKey('language.language_id'), table=<film>, nullable=False), Column('rental_duration', SMALLINT(), table=<film>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000002813CFF0848>, for_update=False)), Column('rental_rate', NUMERIC(precision=4, scale=2), table=<film>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000002813CFF06C8>, for_update=False)), Column('length', SMALLINT(), table=<film>), Column('replacement_cost', NUMERIC(precision=5, scale=2), table=<film>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000002813CFF0548>, for_update=False)), Column('rating', ENUM('G', 'PG', 'PG-13', 'R', 'NC-17', name='mpaa_rating'), table=<film>, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000002813CFF0B48>, for_update=False)), Column('last_update', TIMESTAMP(), table=<film>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000002813CFEAF08>, for_update=False)), Column('special_features', ARRAY(TEXT()), table=<film>), Column('fulltext', TSVECTOR(), table=<film>, nullable=False), schema=None)

In [10]:
# ex3
category = Table("category", metadata, autoload=True, autoload_with=db)
stmt = select([category])

results = db.execute(stmt).fetchall()
print(len(results))

16

In [11]:
# ex4
stmt = select([category])
results = db.execute(stmt).fetchmany(size=2)
for result in results:
   print(result.name)

Action
Animation

In [12]:
# ex5
stmt1 = 'select f.title, min(f.release_year) as min_year from category c join film_category fc on (c.category_id=fc.category_id) join film f on (fc.film_id=f.film_id) join inventory i on (f.film_id=i.film_id) join rental r on (i.inventory_id=r.inventory_id) group by f.title'
results = db.execute(stmt1).fetchmany(size=1)
print(results)

stmt2 = 'select f.title, max(f.release_year) as max_year from category c join film_category fc on (c.category_id=fc.category_id) join film f on (fc.film_id=f.film_id) join inventory i on (f.film_id=i.film_id) join rental r on (i.inventory_id=r.inventory_id) group by f.title'
results = db.execute(stmt2).fetchmany(size=1)
print(results)

[('Frontier Cabin', 2006)]
[('Frontier Cabin', 2006)]

In [13]:
# ex6
from sqlalchemy import or_

actor = Table("actor", metadata, autoload=True, autoload_with=db)

stmt = select([actor])

stmt = stmt.where(or_(actor.columns.first_name == 'Olympia', actor.columns.first_name == 'Julia', actor.columns.first_name == 'Ellen'))

results = db.execute(stmt)

for i in results:
    print(i)

print(stmt)

(27, 'Julia', 'Mcqueen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(47, 'Julia', 'Barrymore', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(93, 'Ellen', 'Presley', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(171, 'Olympia', 'Pfeiffer', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(186, 'Julia', 'Zellweger', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(199, 'Julia', 'Fawcett', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
SELECT actor.actor_id, actor.first_name, actor.last_name, actor.last_update
FROM actor
WHERE actor.first_name = :first_name_1 OR actor.first_name = :first_name_2 OR actor.first_name = :first_name_3